<%- include('includes/header.ejs') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  
    <form action="/create" method="POST">
       
        username: <br>
        <input type="text" name="username"><br><br>
        lastname: <br>
        <input type="text" name="lastname"><br><br>
      <select name="gender" id="">
        <option value="female">female</option>
        <option value="male">male</option>
      </select>
       <br><br>
        <input type="submit" value="Create New User">
    </form>
  </body>
</html>
